@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Qahiri", sans-serif;
  font-size: 62.5%;
  height: 100%;
  /* fix height to 100% for IE */
  max-height: 100%;
  /* fix height for other browsers */
  /*overflow:hidden; /*get rid of scroll bars in IE */ }

a {
  text-decoration: none !important; }

/* Mixin */
.header {
  background: #ffffff; }
  .header .logo-mobile-tablet-show {
    display: none;
    height: 100px; }
  .header .navbar-nav.mr-auto.justify-content-end.navbar-nav--right {
    flex: 1; }
  .header .bg-light {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-border-bottom: 0.08rem solid #e1e1e1;
    -moz-border-bottom: 0.08rem solid #e1e1e1;
    border-bottom: 0.08rem solid #e1e1e1; }
  .header #navbarText {
    font-size: 13px;
    font-size: rem(13, 14);
    font-weight: 600; }
    .header #navbarText .navbar-nav:first-child,
    .header #navbarText .navbar-nav--right .nav-item:first-child {
      -webkit-border-left: 0.08rem solid #e1e1e1;
      -moz-border-left: 0.08rem solid #e1e1e1;
      border-left: 0.08rem solid #e1e1e1; }
    .header #navbarText .nav-item {
      -webkit-border-right: 0.08rem solid #e1e1e1;
      -moz-border-right: 0.08rem solid #e1e1e1;
      border-right: 0.08rem solid #e1e1e1; }
    .header #navbarText a {
      padding: 2rem; }
      .header #navbarText a:hover {
        background: #f5bd10;
        color: #ffffff; }
  .header .header__bottom {
    padding: 1.2rem; }
    .header .header__bottom-logo {
      display: flex;
      height: 8rem;
      width: 14rem; }
      .header .header__bottom-logo img {
        height: 100%;
        width: 100%; }
    .header .header__bottom-hotline-ordernow {
      display: flex;
      justify-content: space-around; }
      .header .header__bottom-hotline-ordernow .title {
        font-size: 13px;
        font-size: rem(13, 14);
        line-height: 2rem;
        color: #f5bd10;
        font-weight: 600; }
      .header .header__bottom-hotline-ordernow span {
        font-size: 11px;
        font-size: rem(11, 14);
        color: #202020;
        font-weight: 500; }
    .header .header__bottom-search .input-group {
      width: 90%;
      height: 4rem; }
      .header .header__bottom-search .input-group input {
        -webkit-border-top-left-radius: 3rem;
        -moz-border-top-left-radius: 3rem;
        border-top-left-radius: 3rem;
        -webkit-border-bottom-left-radius: 3rem;
        -moz-border-bottom-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        padding: 2rem;
        font-size: 13px;
        font-size: rem(13, 14); }
      .header .header__bottom-search .input-group button {
        -webkit-border-top-right-radius: 3rem;
        -moz-border-top-right-radius: 3rem;
        border-top-right-radius: 3rem;
        -webkit-border-bottom-right-radius: 3rem;
        -moz-border-bottom-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        -webkit-border-none: 0rem;
        -moz-border-none: 0rem;
        border-none: 0rem; }
  .header .header__nav-wrapper {
    background: #202020; }
    .header .header__nav-wrapper .active {
      background: #f5bd10 !important;
      border: none !important; }
    .header .header__nav-wrapper .nav__menu-item {
      font-size: 13px;
      font-size: rem(13, 14);
      display: inline-block;
      padding: 2rem;
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-border-right: 0.08rem solid #645e5e;
      -moz-border-right: 0.08rem solid #645e5e;
      border-right: 0.08rem solid #645e5e; }
      .header .header__nav-wrapper .nav__menu-item:hover {
        background: #f5bd10; }
    .header .header__nav-wrapper .nav__menu-item--nohover {
      -webkit-border-left: 0.08rem solid #645e5e;
      -moz-border-left: 0.08rem solid #645e5e;
      border-left: 0.08rem solid #645e5e;
      -webkit-border-right: 0.08rem solid #645e5e;
      -moz-border-right: 0.08rem solid #645e5e;
      border-right: 0.08rem solid #645e5e; }
      .header .header__nav-wrapper .nav__menu-item--nohover:hover {
        background: none; }
    .header .header__nav-wrapper a.cart {
      color: #ffffff; }
    .header .header__nav-wrapper a.cart .cart-basket {
      font-size: 10px;
      font-size: rem(10, 14);
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 50rem;
      width: 1.5rem;
      height: 1.5rem;
      color: #ffffff;
      background-color: #f5bd10; }
  @media (max-width: 900px) {
    .header .logo-mobile-tablet-show {
      display: block;
      text-align: center; }
    .header .header__bottom {
      display: none; }
    .header .wrapper-menu {
      display: flex;
      text-align: center;
      line-height: 2rem; }
    .header .navbar-nav--right {
      -webkit-border-left: 0.08rem solid #e1e1e1;
      -moz-border-left: 0.08rem solid #e1e1e1;
      border-left: 0.08rem solid #e1e1e1; } }
  @media (max-width: 600px) {
    .header .logo-mobile-tablet-show {
      display: block;
      text-align: center; }
    .header .header__bottom {
      display: none; }
    .header .wrapper-menu {
      display: none; }
    .header .wrapper-shopping-cart {
      display: none; } }

/* Mixin */
.footer {
  background: #f7f7f7; }
  .footer .footer__top {
    padding: 3rem 0;
    -webkit-border-bottom: 0.1rem solid #e1e1e1;
    -moz-border-bottom: 0.1rem solid #e1e1e1;
    border-bottom: 0.1rem solid #e1e1e1; }
    .footer .footer__top .wrapper {
      font-size: 13px;
      font-size: rem(13, 14);
      font-weight: 600;
      color: #8e8686;
      line-height: 2.2rem; }
      .footer .footer__top .wrapper .para {
        margin: 2rem 0; }
      .footer .footer__top .wrapper .about {
        display: flex;
        align-items: baseline; }
        .footer .footer__top .wrapper .about p {
          margin-left: 1rem; }
    .footer .footer__top .wrapper-list {
      line-height: 3rem;
      padding-top: 1rem; }
      .footer .footer__top .wrapper-list a {
        display: block;
        color: #8e8686; }
        .footer .footer__top .wrapper-list a:hover {
          color: #645e5e; }
      .footer .footer__top .wrapper-list-item {
        display: flex;
        align-items: center; }
        .footer .footer__top .wrapper-list-item i {
          margin-right: 1.5rem; }
    .footer .footer__top .title h2 {
      font-weight: bold;
      display: flex;
      text-transform: uppercase;
      font-size: 13px;
      font-size: rem(13, 14);
      margin-left: 1rem; }
    .footer .footer__top .title i {
      font-size: 12px;
      font-size: rem(12, 14);
      line-height: 1.02857rem; }
  .footer .footer__middle {
    font-weight: bold;
    display: flex;
    text-transform: uppercase;
    color: #8e8686;
    text-transform: none;
    padding: 1rem 0 2rem; }
    .footer .footer__middle h2 {
      padding: 1rem 0; }
    .footer .footer__middle-left .payment-list-item {
      flex-direction: column;
      flex-wrap: wrap;
      width: 13.5rem;
      height: 5.5rem; }
    .footer .footer__middle-right .advisory-feedback-item {
      width: 27rem;
      height: 9rem;
      display: flex;
      align-items: center; }
      .footer .footer__middle-right .advisory-feedback-item .icon {
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: #f5bd10;
        padding: 1rem;
        border-radius: 50%;
        margin-right: 1rem;
        border: 1px solid; }
      .footer .footer__middle-right .advisory-feedback-item .feedback-wrap strong {
        font-size: 14px;
        font-size: rem(14, 14);
        line-height: 2rem;
        color: #ff0000; }
  .footer .footer__bottom {
    background: #202020;
    font-size: 13px;
    font-size: rem(13, 14); }
    .footer .footer__bottom a,
    .footer .footer__bottom p {
      font-size: 13px;
      font-size: rem(13, 14);
      font-weight: 600;
      color: #8e8686;
      padding: 2.5rem 0; }
    .footer .footer__bottom-left p strong {
      color: #ffffff; }
    .footer .footer__bottom-right {
      display: flex;
      text-align: center;
      justify-content: space-between;
      width: 100%; }

.slider-show {
  margin: 3rem auto; }
  .slider-show .slider-left .carousel-inner {
    height: 100%; }
    .slider-show .slider-left .carousel-inner img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .slider-show .slider-left .carousel-control-next,
  .slider-show .slider-left .carousel-control-prev {
    padding: 0 1.5rem; }
    .slider-show .slider-left .carousel-control-next i,
    .slider-show .slider-left .carousel-control-prev i {
      font-size: 30px;
      font-size: rem(30, 14);
      color: #f5bd10; }
  .slider-show .slider-left .carousel-indicators li {
    background: #9d9d9d; }
    .slider-show .slider-left .carousel-indicators li.active {
      background: #f5bd10 !important; }
  .slider-show .slider-right {
    -webkit-border-top: 0.08rem solid #e1e1e1;
    -moz-border-top: 0.08rem solid #e1e1e1;
    border-top: 0.08rem solid #e1e1e1;
    -webkit-border-right: 0.08rem solid #e1e1e1;
    -moz-border-right: 0.08rem solid #e1e1e1;
    border-right: 0.08rem solid #e1e1e1; }
    .slider-show .slider-right__services {
      height: 100%; }
      .slider-show .slider-right__services .active {
        background: #f5bd10 !important; }
        .slider-show .slider-right__services .active .icon,
        .slider-show .slider-right__services .active .desc h2,
        .slider-show .slider-right__services .active .desc p {
          color: #ffffff; }
      .slider-show .slider-right__services-item {
        -webkit-border-bottom: 0.08rem solid #e1e1e1;
        -moz-border-bottom: 0.08rem solid #e1e1e1;
        border-bottom: 0.08rem solid #e1e1e1;
        padding: 2rem;
        height: 25%; }
        .slider-show .slider-right__services-item .icon {
          font-weight: bold;
          display: flex;
          text-transform: uppercase;
          font-size: 18px;
          font-size: rem(18, 14);
          color: #f5bd10; }
        .slider-show .slider-right__services-item .desc {
          margin-left: 1.5rem; }
          .slider-show .slider-right__services-item .desc h2 {
            font-weight: bold;
            display: flex;
            text-transform: uppercase;
            font-size: 14px;
            font-size: rem(14, 14); }
          .slider-show .slider-right__services-item .desc p {
            font-size: 13px;
            font-size: rem(13, 14);
            font-weight: normal;
            color: #8e8686;
            margin-top: 1rem; }
  @media (max-width: 900px) {
    .slider-show .slider-right__services {
      height: 100%; }
      .slider-show .slider-right__services-item {
        height: 25%;
        padding: 1rem 2rem; }
        .slider-show .slider-right__services-item p {
          display: none; } }

@media (max-width: 600px) {
  .slider-show {
    display: none; } }

/* Mixin */
.product__view h2 {
  font-weight: bold;
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  font-size: rem(13, 14);
  margin-left: 1rem; }

.product__view-left .list__categories-vertical {
  -webkit-border-top: 0.08rem solid #e1e1e1;
  -moz-border-top: 0.08rem solid #e1e1e1;
  border-top: 0.08rem solid #e1e1e1;
  -webkit-border-right: 0.08rem solid #e1e1e1;
  -moz-border-right: 0.08rem solid #e1e1e1;
  border-right: 0.08rem solid #e1e1e1;
  -webkit-border-left: 0.08rem solid #e1e1e1;
  -moz-border-left: 0.08rem solid #e1e1e1;
  border-left: 0.08rem solid #e1e1e1; }
  .product__view-left .list__categories-vertical .active {
    background: #202020 !important; }
    .product__view-left .list__categories-vertical .active > a {
      color: #f5bd10 !important; }
  .product__view-left .list__categories-vertical .item-cate a {
    -webkit-border-bottom: 0.08rem solid #e1e1e1;
    -moz-border-bottom: 0.08rem solid #e1e1e1;
    border-bottom: 0.08rem solid #e1e1e1;
    color: #8e8686;
    padding: 2rem;
    font-size: 14px;
    font-size: rem(14, 14); }
    .product__view-left .list__categories-vertical .item-cate a > span {
      margin-left: 1rem; }

/* Mixin */
.error__page-desc {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%; }
  .error__page-desc h1 {
    font-size: 45px;
    font-size: rem(45, 14);
    font-weight: 700;
    color: #8e8686;
    text-transform: uppercase;
    color: #f5bd10; }
  .error__page-desc p {
    font-size: 13px;
    font-size: rem(13, 14);
    font-weight: 600;
    color: #8e8686;
    line-height: 2rem; }
  .error__page-desc a {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 13px;
    font-size: rem(13, 14);
    font-weight: 600;
    color: #8e8686;
    width: 10rem;
    background: #202020;
    color: #ffffff;
    border: none; }
    .error__page-desc a:hover {
      background: #f5bd10; }

.error__page-img img {
  height: 100%;
  width: 100%; }

/* Mixin */
.icon-4-square-size {
  width: 1.5rem;
  height: 1.5rem; }
  .icon-4-square-size img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain; }

.controls-top a {
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  font-size: rem(13, 14);
  -webkit-border: 0.05rem solid #8e8686;
  -moz-border: 0.05rem solid #8e8686;
  border: 0.05rem solid #8e8686;
  color: #202020; }
  .controls-top a.arrow-left {
    margin-right: 1rem !important; }

.controls-top .active {
  background: #202020 !important;
  color: #ffffff !important; }

.custom-gutter > [class*="col-"] {
  padding-right: 4px;
  padding-left: 4px; }

.custom-gutter > [class*="col-"]:first-child {
  padding-left: 15px; }

.custom-gutter > [class*="col-"]:last-child {
  padding-right: 15px; }

.checked {
  color: orange; }
