@import "../partials/slider";
@import "../base/variables";
@import "../base/mixins";

.product__view {
  h2 {
    @include title-h2-w-mx(true);
  }
}
.product__view-left {
  .list__categories-vertical {
    @include border(top, 0.08, solid, $gray-2-border);
    @include border(right, 0.08, solid, $gray-2-border);
    @include border(left, 0.08, solid, $gray-2-border);

    .item-cate a {
      @include border(bottom, 0.08, solid, $gray-2-border);
      color: $gray-6;
      padding: 2rem;
      @include font-size(14);
      & > span {
        margin-left: 1rem;
      }
    }

    .item-cate:hover {
      @include hover($primary-1);
      & > a {
        @include active(false, $primary-2);
      }
    }
  }
}
