- 
    var dataHeaderTopLeft =[
        {
            icon:"fab fa-facebook-f",
            classActive:"active",
            classBorderNone:"border-none",
           
        },
        {
            icon:"fab fa-google-plus-square",
            classActive:"",
            classBorderNone:"",            
        },
        
        {
            icon:"fab fa-twitter-square",
            classActive:"",
            classBorderNone:"",            
        },
        
        {
            icon:"fab fa-instagram-square",
            classActive:"",
            classBorderNone:"",            
        },
    ]

- 
    var dataHeaderTopRight =[
        {
            text:"ĐĂNG KÝ",
        },
        {
            text:"ĐĂNG NHẬP"
        },
        
    ]

-
    var dataHeaderBottomOrderLeft=[
        {
            title:" HOTLINE:",
            phone:""
        }
    ]

-
    var dataHeaderNavMenu=[
        {
            text:"Trang chủ",
            className:"nav__menu-item",
            classActive:"active",
            homepage:"index.html",
        },
        {
            text:"Giới thiệu",
            className:"nav__menu-item",
            classActive:"",
            homepage:"",
        },
        {
            text:"Sản phẩm",
            className:"nav__menu-item",
            classActive:"",
            homepage:"",
        },
        {
            text:"Tin khuyến mãi",
            className:"nav__menu-item",
            classActive:"",
            homepage:"",
        }
        ,{
            text:"Dịch vụ",
            className:"nav__menu-item",
            classActive:"",
            homepage:"",
        }
        ,{
            text:"Liên hệ",
            className:"nav__menu-item",
            classActive:"",
            homepage:"",
        }
    ]

- 
    var dataFooterTopList1=[
        {
            text:"Chính sách giao hàng",
            haveicon:false,
        },
        {
            text:"Chính sách đổi sản phẩm",
            haveicon:false,
        },
        {
            text:"Chính sách bảo hành",
            haveicon:false,
        },
        {
            text:"Chính sách trả góp",
            haveicon:false,
        },
        {
            text:"Giới thiệu hàng đổi trả",
            haveicon:false,
        },
        {
            text:"Vận chuyển miễn phí",
            haveicon:false,
        }
    ]

-
     var dataFooterTopList2=[
        {
            text:"Hệ thống cửa hàng",
            haveicon:false,
        },
        {
            text:"Hướng dẫn mua hàng",
            haveicon:false,
        },
        {
            text:"Hướng dẫn thanh toán",
            haveicon:false,
        },
        {
            text:"Tích điểm đổi thưởng",
            haveicon:false,
        },
        {
            text:"Dịch vụ đổi trả",
            haveicon:false,
        },
        {
            text:"Câu hỏi thưởng gặp",
            haveicon:false,
        }
    ]

-
     var dataFooterTopList3=[
        {
            text:"Tin tức mới nhất",
            haveicon:false,
        },
        {
            text:"Tin tức khuyến mãi",
            haveicon:false,
        },
        {
            text:"Tuyển dụng, đãi ngộ",
            haveicon:false,
        },
        {
            text:"Download tài liệu",
            haveicon:false,
        },
        {
            text:"Chương trình đối tác",
            haveicon:false,
        },
        {
            text:"Nhà phát triển ứng dụng",
            haveicon:false,
        }
    ]

-
     var dataFooterTopList4=[
        {
            text:"Facebook",
            icon:"fab fa-facebook-f",
            haveicon:true,
        },
        {
            text:"Twitter",
            icon:"fab fa-twitter",
            haveicon:true,
        },
        {
            text:"Google+",
            icon:"fab fa-google-plus-g",
            haveicon:true,
        },
        {
            text:"Instagram",
            icon:"fab fa-instagram",
            haveicon:true,
        },
        {
            icon:"fab fa-skype",
            text:"Skype",
            haveicon:true,
        },
    ]

-
    var dataFooterMiddlePayment= [
        {
            img:"logo_1.png",
        },
         {
            img:"logo_2.png",
        },
         {
            img:"logo_3.png",
        },
         {
            img:"logo_4.png",
        },
         {
            img:"logo_5.png",
        },
         {
            img:"logo_6.png",
        },
         {
            img:"logo_7.png",
        },
         {
            img:"logo_8.png",
        }
    ]

-
    var dataFooterAdvfeed=[
        {
            icon:"fas fa-phone-alt",
            text:"Tư vấn miễn phí (24/7)",
            phone:"1900 650 650",

        },
        {
            icon:"fas fa-comments",
            text:"Góp ý - phản hồi - thắc mắc",
            phone:"1900 650 650",

        }
    ]

-
    var slideShowImg=[
        {
            img:"sliders/SLIDER 1.png",
            alt:'Los Angeles', 
            width:'1100',
            height:'500',
            active:"active",
        },
        {
            img:"sliders/SLIDER 1.png",
            alt:'Los Angeles', 
            width:'1100',
            height:'500',
            active:"",
        },
        {
            img:"sliders/SLIDER 1.png",
            alt:'Los Angeles', 
            width:'1100',
            height:'500',
            active:"",
        }
    ]

-
    var slideShowServices=[
        {
            icon:"fas fa-sync",
            title:"Miễn phí vận chuyển",
            text:"Chúng tôi miễn phí vận chuyển với các đơn hàng trị giá trên 1.000.000đ",
            active:"",
        },

        {
            icon:"fas fa-paper-plane",
            title:"Chính sách đổi trả",
            text:"Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên",
            active:"active",
        },

        {
            icon:"fas fa-gift",
            title:"Khuyến mãi hàng tuần",
            text:"Mỗi thứ 7 hàng tuần đều có chương trình khuyến mãi và giảm giá cực lớn",
            active:"",
        },

        {
            icon:"fas fa-thumbs-up",
            title:"Cam kết hàng chính hãng",
            text:"Chúng thôi cam kết hàng chính hãng 100% với tất cả các loại sản phẩm",
            active:"",
        },
    ]

-
    var dataListProductCategoriesVertical=[
        {
            text:"Máy khoan, cắt CNN",
            active:"active",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy in, phun khổ lớn",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy qúet Canon 3DD",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy khoan decameta",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy phay đa năng CNC",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy maì, tiện DC 12V",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy khoan, cắt CNC",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Quay thông minh N3",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Moto RC34 đa dụng",
            active:"",
            icon:"fas fa-th-large",
        },
        {
            text:"Máy in laser màu 3D",
            active:"",
            icon:"fas fa-th-large",
        }
    ]