extends ../base/_base.pug

block content
    //- a(href="./error-page.html") text
    .wrapper 
        .container     
            section.slider-show
                .row.no-gutters
                    .col-md-8.slider-left
                        #demo.carousel.slide(data-ride='carousel')
                            // Indicators
                            ul.carousel-indicators
                                li.active(data-target='#demo' data-slide-to='0')
                                li(data-target='#demo' data-slide-to='1')
                                li(data-target='#demo' data-slide-to='2')
                            // The slideshow
                            .carousel-inner
                                +sliderShowImg()
                            // Left and right controls
                            a.carousel-control-prev(href='#demo' data-slide='prev').justify-content-start
                                i.fas.fa-chevron-left
                            a.carousel-control-next(href='#demo' data-slide='next').justify-content-end
                                i.fas.fa-chevron-right
                    .col-md-4.slider-right
                        .slider-right__services                                    
                                +sliderShowServices()            
            section.product__view
                .row.no-guttters.align-items-center
                    .col-md-3.col-sm-3            
                        +listTitleProductCategoriesvertical("Sản phẩm nổi bật")                     
                    .col-md-9.col-sm-9
                        .controls-top.d-flex.justify-content-end
                            a.btn-floating(href='#multi-item-example' data-slide='prev').arrow-left.active
                                i.fa.fa-chevron-left
                            a.btn-floating(href='#multi-item-example' data-slide='next').arrow-right
                                i.fa.fa-chevron-right                                                                                
                .row.no-guttters
                    .col-md-3
                        .product__view-left                                                                       
                            +listProductCategoriesVertical()
                    .col-md-9
                        .product__view-right
                            .right__product-slider.product__slider-multiple                               
                                    
            section.banner__images
                .row
                    +bannerImage(2)                    
            section.banner__images
                .row                    
                    +bannerImage(1)

        section.multiple__services-slider
                
  

                   
                                        
