extends ../base/_base.pug
block variables
    - var titleHTMl = 'Đăng ký'
block content
    .container
        +dataBreadcrumb("Trang chủ","Đăng ký")
        .signup__wrapper
            h2 Thông tin cá nhân
            form(action='error-page.html')
                .row
                    .col-md-6.col-sm-12
                        .form-group
                            +label-input-group("fullName", false, "input", "ipFullName", "Họ và tên", "u", true)                                    
                    .col-md-6.col-sm-12
                        .form-group
                            +label-input-group("fullName", false, "input", "ipFullName", "Email", "u", true)                                    
                    .col-md-6.col-sm-12
                        .form-group
                            +label-input-group("fullName", false, "input", "ipFullName", "SĐT", "u", true)                                    
                    .col-md-6.col-sm-12
                        .form-group
                            +label-input-group("fullName", false, "input", "ipFullName", "Địa chỉ", "u", true)                                                            
                    .col-12
                        .form-check
                            +labelCheckboxForm("Đăng ký nhận tin tức qua email")                                
                    .col-12
                        h2 Thông tin đăng nhập
                    .col-md-6.col-sm-12
                        .form-group
                            +label-input-group("fullName", false, "input", "ipFullName", "Họ và tên", "u", true)                                    
                    .col-md-6.col-sm-12
                        .form-group
                            +label-input-group("fullName", false, "input", "ipFullName", "Mật khẩu", "u", true)                                    
                    .col-12
                        .button-group
                            +buttonForm("button","Quay lại","index.html")                            
                            +buttonForm("submit","Đăng ký")                       
