extends ../base/_base.pug

block content
    .container
        +dataBreadcrumb("Trang chủ","Đăng ký")
        .signup__wrapper
            h2 Thông tin cá nhân
            form(action='error-page.html')
                .row
                    .col-md-6.col-sm-12
                        .form-group
                            +labelForm("u","Họ và tên:",true)
                            +inputForm("fullName",false,false,"ipFullName")
                    .col-md-6.col-sm-12
                        .form-group
                            +labelForm("u","Email:",true)
                            +inputForm("Email",false,false,"ipFullName")
                    .col-md-6.col-sm-12
                        .form-group
                            +labelForm("u","Số điện thoại:",true)
                            +inputForm("fullName",false,false,"ipFullName")
                    .col-md-6.col-sm-12
                        .form-group
                            +labelForm("u","Địa chỉ:",true)
                            input#pwd.form-control(type='email' name='email')
                    .col-12
                        .form-check
                                +inputCheckboxForm()
                                label.form-check-label(for='flexCheckDefault')
                                    | Đăng ký nhận tin tức qua email
                    .col-12
                        h2 Thông tin đăng nhập
                    .col-md-6.col-sm-12
                        .form-group
                            +labelForm("u","Họ và tên:",true)
                            +inputForm("fullName",false,false,"ipFullName")
                    .col-md-6.col-sm-12
                        .form-group
                            +labelForm("u","Email:",true)
                            +inputForm("fullName",false,false,"ipFullName")
                    .col-12
                        .button-group
                            +buttonForm("button","Quay lại","index.html")                            
                            +buttonForm("submit","Đăng ký")                       
